/* OVERLAY
=========================== */
.overlaya {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    z-index: 99;
  }

  .firsta {
    background: #74e7ef;
  }

  .seconda {
    background: #74e7ef;
    left: 33.3%;
  }

  .thirda {
    background: #74e7ef;
    left: 66.6%;
  }

/* SLICK
=========================== */

.for_slick_slider {
  display: flex;
}

.for_slick_slider .items {
  width: 350px;
  height: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 6px;
  margin-right: 6px;
  transition: margin-top 0.5s;
  /* margin: 50px; */
}

.for_slick_slider:hover .items:hover {
    width: 350px;
    height: auto;
    margin-bottom: 50px;
    margin-top: 35px;
    margin-left: 6px;
    margin-right: 6px;
    /* margin: 50px; */
    /* -webkit-animation: bounce 2s; */
    /* animation-duration: 5s; */
  }

.for_slick_slider .items img {
  width: 350px;
  height: 285px;
}


.slick-prev, .slick-next {
  width: 50px;
  height: 50px;
  z-index: 1;
}

.slick-prev {
  left: 5px;
  margin-top: 150px;
}
.slick-next {
  margin-left: 15px;
  right: 5px;
  margin-top: 150px;
}

.slick-prev:before,
.slick-next:before {
    font-size: 40px;
    /* text-shadow: 0 0 10px rgba(0,0,0,0.5); */
}

.prev{
  display: block;
  border: none;
  height: 50px;
  width: 210px;
  cursor: pointer;
  background: url('../img/kiri.png') no-repeat;
}

.next{
  display: block;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 210px;
  background: url('../img/kanan.png') no-repeat;
}
